In [142]:
import numpy as np
import pandas as pd
import seaborn as sns
from bs4 import BeautifulSoup
import requests

In [143]:
url = 'https://nigeriapropertycentre.com/for-rent?page=1'

In [144]:
response = requests.get(url)

In [145]:
response

In [146]:
soup = BeautifulSoup(response.content, 'html.parser')

In [147]:
page = soup.find(class_ = "property-list-page")

In [148]:
apartments =page.find_all(class_ = 'wp-block-content clearfix text-xs-left text-sm-left')

In [150]:
#amenities = page.find_all(class_ = 'aux-info')

In [151]:
property_df = {
    'property':[],
    'address':[],
    'price':[],
    'duration':[]
}

In [152]:
for i in range(1,120):
    url = f'https://nigeriapropertycentre.com/for-rent?page={i}'
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')
    page = soup.find(class_ = "property-list-page")
    apartments =page.find_all(class_ = 'wp-block-content clearfix text-xs-left text-sm-left')
    
    

    for apartment in apartments:
          property = apartment.find('a').text
          address = apartment.find('address', class_ = 'voffset-bottom-10').text
          #description = apartment.find(class_ = 'description hidden-xs').text
          price = apartment.find('span', class_ = 'price').find_next('span').text
          duration = apartment.find(class_ = 'period').text


          property_df['property'].append(property)
          property_df['address'].append(address)
          property_df['price'].append(price)
          property_df['duration'].append(duration)

In [153]:
import pandas as pd

In [154]:
property_df = pd.DataFrame(property_df)

In [155]:
property_df

,property,address,price,duration
0,1 bedroom mini flat (room and parlour) for rent,"Lekki Phase 1, Lekki, Lagos","6,500,000",per annum
1,1 bedroom mini flat (room and parlour) for rent,"Oral Community Estate Mojoda, Epe, Lagos","400,000",per annum
2,Self contain (single rooms) for rent,"Royal Palm Will, Badore, Ajah, Lagos","180,000",per annum
3,4 bedroom flat / apartment for rent,"Phase1, Lekki, Lagos","20,000,000",per annum
4,4 bedroom terraced duplex for rent,"Main, Gwarinpa, Abuja","3,000,000",per annum
...,...,...,...,...
2515,1 bedroom mini flat (room and parlour) for rent,"Close To The Ferry Terminal, Baiyeku, Ikorod...","200,000",per annum
2516,1 bedroom mini flat (room and parlour) for rent,"Close To The Ferry Terminal, Ikorodu, Lagos","150,000",per annum
2517,1 bedroom mini flat (room and parlour) for rent,"Ogunfayo Road, Eputu, Ibeju Lekki, Lagos","800,000",per annum
2518,3 bedroom flat / apartment for rent,"Off Queen's Drive, Ikoyi, Lagos","18,000,000",per annum
2519,1 bedroom mini flat (room and parlour) for rent,"Thomas Estate, Ajiwe, Ajah, Lagos","700,000",per annum

In [158]:
#property_df.to_csv('Nigerian Property Center.csv', index = 'False')

In [160]:
amenities = page.find_all(class_ = 'wp-block-footer')

In [161]:
amenities_dict = {
    'number_of_bedrooms':[],
    'number_of_bathrooms':[]
}

In [163]:
for i in range(1,120):
    url = f'https://nigeriapropertycentre.com/for-rent?page={i}'
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')
    page = soup.find(class_ = "property-list-page")
    amenities = page.find_all(class_ = 'wp-block-footer')
    
    
    for amenity in amenities:
        number_of_bedrooms_element = amenity.find('span')
        number_of_bathrooms_element = number_of_bedrooms_element.find_next('span') if number_of_bedrooms_element else None

        number_of_bedrooms = number_of_bedrooms_element.text if number_of_bedrooms_element else 'unknown'
        number_of_bathrooms = number_of_bathrooms_element.find_next('span').text if number_of_bathrooms_element else 'unknown'



        amenities_dict['number_of_bedrooms'].append(number_of_bedrooms)
        amenities_dict['number_of_bathrooms'].append(number_of_bathrooms)

In [166]:
amenities_df = pd.DataFrame(amenities_dict)

In [168]:
amenities_df

     number_of_bedrooms number_of_bathrooms
0                     2                 100
1                     3                   3
2                     4                   4
3                     2                   2
4                     2                   2
...                 ...                 ...
2515                  2                   3
2516                  4                   4
2517                  4                   4
2518                  5                   5
2519                  1                   1

[2520 rows x 2 columns]

In [176]:
property_df.head(10)

,property,address,price,duration
0,1 bedroom mini flat (room and parlour) for rent,"Lekki Phase 1, Lekki, Lagos","6,500,000",per annum
1,1 bedroom mini flat (room and parlour) for rent,"Oral Community Estate Mojoda, Epe, Lagos","400,000",per annum
2,Self contain (single rooms) for rent,"Royal Palm Will, Badore, Ajah, Lagos","180,000",per annum
3,4 bedroom flat / apartment for rent,"Phase1, Lekki, Lagos","20,000,000",per annum
4,4 bedroom terraced duplex for rent,"Main, Gwarinpa, Abuja","3,000,000",per annum
5,Office space for rent,"Dominio Pizza, Agungi, Lekki, Lagos","40,000",per square meter / per annum
6,3 bedroom flat / apartment for rent,"Wuye, Abuja","5,000,000",per annum
7,4 bedroom terraced duplex for rent,"Jahi, Abuja","6,000,000",per annum
8,2 bedroom flat / apartment for rent,"Thera Annex Estate, Sangotedo, Ajah, Lagos","1,500,000",per annum
9,2 bedroom flat / apartment for rent,"Oniru, Victoria Island (VI), Lagos","5,500,000",per annum

In [179]:
property_df['number of bedrooms'] = property_df['property'].str[0]

In [210]:
property_df.head()

,property,address,price,duration,number of bedrooms
0,1 bedroom mini flat (room and parlour) for rent,"Lekki Phase 1, Lekki, Lagos","6,500,000",per annum,1
1,1 bedroom mini flat (room and parlour) for rent,"Oral Community Estate Mojoda, Epe, Lagos","400,000",per annum,1
2,Self contain (single rooms) for rent,"Royal Palm Will, Badore, Ajah, Lagos","180,000",per annum,1
3,4 bedroom flat / apartment for rent,"Phase1, Lekki, Lagos","20,000,000",per annum,4
4,4 bedroom terraced duplex for rent,"Main, Gwarinpa, Abuja","3,000,000",per annum,4

In [203]:
property_df['number of bedrooms'].unique()

array(['1', 'S', '4', 'O', '3', '2', '5', '8', '6', 'R', 'P', 'W', 'F',
       'L', 'C', '7', 'M'], dtype=object)

In [205]:
replacement_dict = {
    'S':'1',
    'O':'Office Space',
    'R':'Restaurant Space',
    'P':'Plaza/mall Space',
    'W':'Warehouse Space',
    'F':'',
    'L':'Land',
    'C':'Commercial land/property',
    'M':'Mixed use land'
}

In [206]:
property_df['number of bedrooms'] = property_df['number of bedrooms'].replace(replacement_dict)

In [209]:
property_df.head()

,property,address,price,duration,number of bedrooms
0,1 bedroom mini flat (room and parlour) for rent,"Lekki Phase 1, Lekki, Lagos","6,500,000",per annum,1
1,1 bedroom mini flat (room and parlour) for rent,"Oral Community Estate Mojoda, Epe, Lagos","400,000",per annum,1
2,Self contain (single rooms) for rent,"Royal Palm Will, Badore, Ajah, Lagos","180,000",per annum,1
3,4 bedroom flat / apartment for rent,"Phase1, Lekki, Lagos","20,000,000",per annum,4
4,4 bedroom terraced duplex for rent,"Main, Gwarinpa, Abuja","3,000,000",per annum,4

In [208]:
property_df.to_csv('Nigerian Property Center1.csv', index = False)